<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>冷枫的个人博客-青春梦一场</title>
    <meta name="keywords" content="莫宗仁,冷枫,mozongren,lengfeng,枫" />
    <meta name="description" content="冷枫（莫宗仁）的个人博客，一个自己学习成长的记录，一个实现自己与人学习交流的平台，把我会我能与大家一同分享" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="__PUBLIC__/home/css/pintuer.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/style.css">
    <script src="__PUBLIC__/home/js/jquery-1.11.1.js"></script>
    <script src="__PUBLIC__/home/js/pintuer.js"></script>
    <script src="__PUBLIC__/home/js/respond.js"></script>
   
  </head>
  <body>
    <!--header-->
	<include file="Public/header" />
	<!--end header -->
	
	<!---->
	<div class="container-layout padding">
		<div class="container">
			<ul class="bread">
			  <li><a href="#" class="icon-home">首页</a></li>
			  <li><a href="#">新闻中心</a></li>
			  <li><a href="#">公司新闻</a></li>
			  <li>正文</li>
			</ul>
		</div>
	</div>
	 <!--文章推荐-->
	 <div class="container">
	  <div class="line margin">
	  <!--left-->
	     <div class="xb8 xm8 xs8 xl12">
		     
		    <div class="detail">
			  关于我<br/>
			   关于我<br/>
			    关于我<br/>
				 关于我<br/> 关于我<br/>
				 关于我<br/>  关于我<br/> 关于我<br/> 关于我<br/> 关于我<br/> 关于我<br/> 关于我<br/> 关于我<br/> 关于我<br/> 关于我<br/> 关于我<br/> 关于我<br/> 关于我<br/> 关于我<br/>
			   关于我<br/>
			    关于我<br/> 关于我<br/> 关于我<br/> 关于我<br/> 关于我<br/> 关于我<br/> 关于我<br/> 关于我<br/> 关于我<br/> 关于我<br/>
				 关于我<br/>
				  关于我<br/>
				   关于我<br/>

			</div>
			<ul class="list-unstyle height margin-top padding">
			  <li><a href="#">上一页:上一篇文章是说明上一篇文章是说明</a></li>
			  <li><a href="#">下一页：上一篇文章是说明上一篇文章是说明</a></li>
			</ul>
           <div class="ds-thread" data-thread-key="1" data-title="请替换成文章的标题" data-url="请替换成文章的网址"></div>
		 </div>
		   <!--right-->
		 <div class="xb4 xm4 xs4 xl12 hidden-l">
		     <div class="panel margin-large">
			  <div class="panel-head">栏目导航</div>
			  <div class="panel-body">
	              <ul class="article-classy line-big">
	              	 <li class="xb5 xm5 xs5  margin-left"><a>PHP使用</a></li>
	              	 <li class="xb5 xm5 xs5 margin-left"><a>CSS积累</a></li>
	              	 <li class="xb5 xm5 xs5 margin-left"><a>JQ/JS认识</a></li>
	              	 <li class="xb5 xm5 xs5 margin-left"><a>作品展示</a></li>
	              	 
	              </ul>
			 </div>
			</div>
	
		   <div class="panel margin-large">
			  <div class="panel-head">最新文章</div>
			  <div class="panel-body">
			     <ol class="article_list">
				  <li>这是我的文章</li>
				  <li>这是我的文章</li>
				  <li>这是我的文章</li>
				  <li>这是我的文章</li>
				  <li>这是我的文章</li>
				  <li>这是我的文章</li>
				  <li>这是我的文章</li>
				  <li>这是我的文章</li>
				  <li>这是我的文章</li>
				  <li>这是我的文章</li>
				</ol>
			  </div>
			</div>
			 <div class="panel margin-large">
			  <div class="panel-head">点击排行</div>
			  <div class="panel-body">
			     <ol>
				  <li>这是我的文章</li>
				  <li>这是我的文章</li>
				  <li>这是我的文章</li>
				  <li>这是我的文章</li>
				  <li>这是我的文章</li>
				  <li>这是我的文章</li>
				  <li>这是我的文章</li>
				  <li>这是我的文章</li>
				  <li>这是我的文章</li>
				  <li>这是我的文章</li>
				</ol>
			  </div>
			</div>
			
			 <div class="panel margin-large">
			  <div class="panel-head">说明</div>
			  <div class="panel-body">
			     &nbsp &nbsp &nbsp &nbsp文章不一定是我写的，因为我觉得有用应该记下来，那么我就拿过来了<br/>
			     &nbsp &nbsp &nbsp &nbsp也希望看到的不要骂，拿别人我都会留下来源...<br/>
		      </div>			
	        </div>
	        <div class="panel margin-large">
			  <div class="panel-head">最多评论</div>
			  <div class="panel-body">
			    <div class="ds-top-threads" data-range="daily" data-num-items="5"></div>
		      </div>			
	        </div>
	        
	</div>
	  </div>
	  </div>
<!---分页-->	

	  <!-- footer start-->
	 <div class="container-layout">

	  <div class="border-top padding-top">
			<div class="text-center">
			  <ul class="nav nav-inline">
				<li class="active"><a href="#">网站首页</a></li>
				<li><a href="#">新闻资讯</a></li>
				<li><a href="#">产品中心</a></li>
				<li><a href="#">技术反馈</a></li>
				<li><a href="#">留言反馈</a></li>
				<li><a href="#">联系方式</a></li>
			  </ul>
			</div>
			<div class="text-center height-big">版权所有 © Pintuer.com All Rights Reserved，图ICP备：380959609</div>
		  </div>
		
		</div>
	  <!-- footer end -->
	  <script> 
$(document).ready(function(){
 
});
</script> 
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    var duoshuoQuery = {short_name:"mzr"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
  </body>
</html>