<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>拼图后台管理-后台管理</title>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/pintuer.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/admin.css">
    <script src="__PUBLIC__/admin/js/jquery.js"></script>
    <script src="__PUBLIC__/admin/js/pintuer.js"></script>
    <script src="__PUBLIC__/admin/js/respond.js"></script>
    <script src="__PUBLIC__/admin/js/admin.js"></script>
    <link type="image/x-icon" href="http://www.pintuer.com/favicon.ico" rel="shortcut icon" />
    <link href="http://www.pintuer.com/favicon.ico" rel="bookmark icon" />
</head>

<body>
<include file="Public/header" />
<div class="admin">
	<form method="post">
    <div class="panel admin-panel">
    	<div class="panel-head"><strong>内容列表</strong></div>
        <div class="padding border-bottom">
            <input type="button" class="button button-small checkall" name="checkall" checkfor="id" value="全选" />
            <input type="button" class="button button-small border-green" value="添加文章" />
            <input type="button" class="button button-small border-yellow" value="批量删除" />
            <input type="button" class="button button-small border-blue" value="回收站" />
            <form>
            <input class="input input-auto" />
            <select class="input input-auto">
                <option>&nbsp起步</option>
                <option>CSS</option>
                <option>元件</option>
                <option>模块</option>
                <option>javascript组件</option>
            </select>
            <button class="button" type="submit">查找</button>
            </form>
        </div>
        <table class="table table-hover">
            <tr><th width="45">选择</th><th width="120">分类</th><th width="*">名称</th><th width="100">时间</th><th width="100">操作</th></tr>
            <volist name="articles" id="article">
                <tr>
                  <td><input type="checkbox" name="id" value="1" /></td>
                  <td>{$article.title}</td>
                  <td>{$article.category.title}</td>
                  <td>2014-10-1</td>
                  <td>
                     <a class="button border-blue button-little" href="#">修改</a>
                     <a class="button border-yellow button-little" href="#" onclick="{if(confirm('确认删除?')){return true;}return false;}">删除</a>
                 </td>
                </tr>
            </volist>

        </table>
        <div class="panel-foot text-center">
            {$page_list}
        </div>
    </div>
    </form>
    <br />
    <p class="text-right text-gray">基于<a class="text-gray" target="_blank" href="http://www.pintuer.com">拼图前端框架</a>构建</p>
</div>
</body>
</html>