	<div class="layout doc-header">
		<div class="layout doc-toper">
				<div class="container">
					<div class="line">
						<div class="x8">青春梦一场</div>
						<div class="x4 text-right">
						<span class="hidden-l"><a target="_blank" href="http://xiangying.pintuer.com/">响应式测试</a> |
						</span><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=306821531&site=Pintuer&menu=yes">联系我</a></div>
					</div>
				</div>
		</div>

		<div class="container doc-naver">
				<div class="line">
					<div class="xs3 xm3 xb3 doc-logo">
						<button class="button icon-navicon margin-top float-right" data-target="#doc-header-pintuer"></button>
						<a href="/"><img src="__PUBLIC__/home/images/logo.png" width="180" height="40" alt="拼图" class="fadein-left ring-hover" /></a>
					</div>
					<div class="xl12 xs9 xm9 xb9 doc-nav">
						<ul class="nav nav-inline nav-navicon padding-small-top" id="doc-header-pintuer">
							<li><a href="{:U('/')}">首页</a></li>
							<li ><a href="{:U('/about')}">关于我</a></li>
							<li ><a href="{:U('/article')}">蜀道艰辛</a></li>
							<li ><a href="{:U('/article')}">青春有梦</a></li>
							<li ><a href="{:U('/article')}">心情碎语</a></li>
							<li ><a href="{:U('/message')}">留言板</a></li>
						</ul>
					</div>
				</div>
		</div>
			
		<div class="bg-main doc-intro">
			<div class="container">
			   <h1 class="fadein-top">青春有梦</h1>
			   <p class="fadein-right">如果青春只是一场梦，那么我也希望能在梦中留下有我足迹...</p>
			   <p class="fadein-left">所以，争我想要的，拼我没有的...  </p>
			   <p class="red">ps:网站改版，正在加紧重做中... 谢谢你的关注</p>
			</div>
		</div>
    </div>